<div class="container">
  <div class="row p-3">
    <div class="col-6" style="color: aqua; font-size: 30px;">
      Student_Portal
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success" (click)="openModel()">Add New</button>
    </div>
  </div>
</div>

<div class="row m-2">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            Student Name
          </div>
          <div class="col-6 text-end">
            Mobile No.
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>city, state, pincode</p>
        <p>Adders</p>
      </div>
      <div class="card-footer text-center">
        Enail:
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open modal
</button> -->

<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Student</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModle()"></button>
      </div>
      <div class="modal-body">
        Modal body..
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModle()">Close</button>
      </div>
    </div>
  </div>
</div>
  