<div class="container-fluid">
  <div class="row p-3 bg-dark">
    <div class="col-6" style="color: aqua; font-size: 30px;">
      Student_Portal
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success" (click)="openModel()">Create New Records</button>
    </div>
  </div>
</div>


@if (studentList.length !== 0) {
<div class="row p-3 m-3">
  @for (item of studentList; track $index) {
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              {{item.name}}
            </div>
            <div class="col-6 text-end">
              {{item.mobilenumber}}
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>{{item.city}}, {{item.state}},{{item.pincode}} </p>
          <p>{{item.adders}}</p>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6">
              <p> {{item.email}} </p>
            </div>
            <div class="col-6">
              <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</button>&nbsp;
              <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
}@else {
  <div class="row">
    <div class="col-12 p-4 text-center" style="color: red;">
      <h3>No Record Found. Create New Records</h3>
    </div>
  </div>
}



<div class="modal align-content-center" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Student</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModle()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label for="">Name:</label>
            <input type="text" [(ngModel)]="studentobj.name" class="form-control" placeholder="Name....">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Mobile-No:</label>
            <input type="number" [(ngModel)]="studentobj.mobilenumber" class="form-control" placeholder="Enter you Mobil-No....">
          </div>
          <div class="col-6">
            <label for="">Email:</label>
            <input type="email" [(ngModel)]="studentobj.email" class="form-control" placeholder="Enter_your-Email....">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="">City:</label>
            <input type="text" [(ngModel)]="studentobj.city" class="form-control" placeholder="City-Name....">
          </div>
          <div class="col-4">
            <label for="">State:</label>
            <input type="text" [(ngModel)]="studentobj.state" class="form-control" placeholder="State....">
          </div>
          <div class="col-4">
            <label for="">Pincode:</label>
            <input type="text" [(ngModel)]="studentobj.pincode" class="form-control" placeholder="Pincode:....">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="">Adders:</label>
            <textarea name="Adders" id="" rows="3" [(ngModel)]="studentobj.adders" class="form-control" placeholder="Place_Your-Comment"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModle()">Close</button>
        @if (studentobj.id ==0) {
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="saveStudents()">Save Student</button>
        }@else {
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="updateStudents()">Update Student</button>
        }
      </div>
    </div>
  </div>
</div>
  